body{
    font: 20px  arial, sans-serif;
}
.navbar{
    background-color: #5E610B;
}
.quem-somos {
    background-color: #2874a6;
    color:white;

}

.margin{
    padding-bottom:50px;
    padding-top:10px;
}

.parceiros{
    background-color: #58FAF4;
}

.bg-footer{
    background-color: black;
    color: white;
}